body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.container {
    width: 100%;
    max-width: 400px; /* Reduced max-width */
    padding: 15px; /* Reduced padding */
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.logo {
    max-width: 80%; /* Adjusted to be smaller */
    height: auto;
    margin-bottom: 15px; /* Reduced margin */
}

.form-container {
    width: 100%;
    max-width: 350px; /* Reduced to fit more content in view */
    margin: auto;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
button {
    width: calc(100% - 16px); /* Reduced width to fit more neatly */
    padding: 8px; /* Reduced padding */
    margin: 8px 0; /* Reduced margin */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    .container {
        width: 90%;
        margin: 5px;
    }

    input,
    button {
        font-size: 0.9rem;
        width: calc(100% - 14px); /* Adjusted width for smaller screens */
    }
}
